<div class="card">
  <%# <div class="card-header">Generate a new Hero</div> %>
  <%= link_to "Generate a new Hero", root_path, class: 'card-header' %>
    <%= render 'home/hero_card' %>
  <%# <div class="card-footer text-muted">Create a new Hero team</div> %>
  <%= link_to "Create a new Hero team", home_team_path, class: 'card-footer text-muted' %>
</div>

